body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}
header h1 {
  font-size: 2.7rem;
  text-align: center;
  padding: 0.8em;
}
.container {
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
}
.layout {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.exam-paper {
  max-width: 880px;
  width: 100%;
  height: calc(100vh - 122.1px);
}
.test-sheet {
  max-width: 560px;
  width: 100%;
  height: calc(100vh - 122.1px);
}
